.card {
    margin: 32px 0 0 50px;
    width: 15rem;
}

.card-footer {
    padding: 0;
}

.card-img-top {
    height: 150px;
}

.btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
