<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
    <p>
        You have {{ cart.totalItemsCount }} items in your shopping cart.
    </p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let productItem of cart.items">
            <td>{{ productItem.product.title }}</td>
            <td>{{ productItem.quantity }}</td>
            <td>{{ productItem.totalPrice | currency:'EUR' }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Total</th>
            <th>{{ cart.totalItemsCount }}</th>
            <th>{{ cart.totalPrice | currency: 'EUR' }}</th>
        </tr>
        </tfoot>
    </table>
</ng-container>
