<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
    <p>
        You have {{ cart.totalItemsCount }} items in your shopping cart.
    </p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let productItem of cart.items">
            <td>{{ productItem.title }}</td>
            <td>
                <product-quantity [product]="productItem" [shoppingCart]="cart">
                </product-quantity>
            </td>
            <td>{{ productItem.totalPrice | currency:'EUR' }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Total</th>
            <th></th>
            <th>{{ cart.totalPrice | currency: 'EUR' }}</th>
        </tr>
        </tfoot>
    </table>
    <button (click)="clearCart(cart)" class="btn btn-danger btn-sm">Clear Shopping Cart</button>
</ng-container>
